.item-page {
    display: grid;
    grid-template-columns: 100px 3fr 2fr;
    gap: 20px;
}

.item-page__images-small {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-page__images {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* height: 700px; */
}

.item-page__info {
    margin-left: 60px;
    /* height: 500px; */
}

.item-page__image-small {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.item-page__image {
    width: 100%;
    /* height: 600px; */
    object-fit: cover;
}

.item-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.item-page__title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: var(--black);
}

.item-page__price {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    color: var(--dark-grey);
}

.item-page__info {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.item-info__container {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.item-info__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: var(--black);
}

.item-info__size-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.item-info__size {
    background: var(--white);
    border: 1px solid var(--black);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 12px 42px;
    color: var(--black);
}

.item-info__size-not-exist {
    background: var(--white);
    border: 1px solid var(--black);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 12px 42px;
    color: var(--black);
    opacity: 25%
}

.item-info__parameters {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selected {
    background-color: var(--black);
    color: var(--white);
}


.item-info__size:hover {
    cursor: pointer;
}

.item-info__hint {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: var(--grey);
}

.item-info__hint:hover {
    cursor: pointer;
}

.item-info__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item-info__add-cart {
    background: var(--red);
    padding: 24px 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: var(--white);
    border: none;
    outline: none;
}

.item-info__add-favorite {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: var(--white);
    border: none;
    outline: none;
    padding: 24px 48px;
    outline: 4px solid #121212;
    outline-offset: -4px;
    color: #121212;
    background: none;
}

.item-info__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.item-info__description-block {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.item-info__description-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.description__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
}

.description__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #5E5E5E;
}

.item-info__details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 8px;
}

.item-info__color-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}